.succes {
    color: rgb(0, 255, 0);
    background: rgb(32, 2, 2);
    font-size: 20px;
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .error {
    color: rgb(255, 0, 0);
    background: rgb(32, 2, 2);
    font-size: 20px;
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .blog {
    color: rgb(25, 199, 103);
    padding: 15px;
    margin-bottom: 15px;
    font-size: 20px;
  }

