h1 {
  color: green;
  font-style: initial;
}

h2 {
  color: chocolate;
  font-style: initial;
}

.person {
  color: black;
  padding-top: 5px;
  font-size: 22px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.succesfull {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}